@font-face {
    font-family: interBold;
    src: url("../font/Inter-Bold.ttf");
}

@font-face {
    font-family: interRegular;
    src: url("../font/Inter-Regular.ttf");
}

@font-face {
    font-family: interSemiBold;
    src: url("../font/Inter-SemiBold.ttf");
}

.inter-semi-bold {
    font-family: interSemiBold;
}

.inter-regular {
    font-family: interRegular;
}

body {
    min-height: 100vh;
}

section {
    min-height: 100vh;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.letter-space {
    letter-spacing: 10px;
}

.gray {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.green {
    background-color: #469F9F;
}

.green-2 {
    background-color: #3C8C8E;
}

.auto {
    margin: auto !important;
}

.navbar {
    background-color: transparent !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    text-decoration: underline;
    color: #469F9F !important;
}

.navbar-toggler {
    border: none !important;
}

.btn-outline {
    background-color: #469F9F !important;
    color: white;
    min-width: 121px;
    height: 46px;
}

.btn-outline:hover {
    background-color: #469F9F !important;
    color: white;
    opacity: 0.9;
}

.btn-outline-2 {
    background-color: transparent !important;
    border: solid 1px #469F9F;
    color: #469F9F;
    min-width: 121px;
    height: 46px;
}

.btn-outline-2:hover {
    background-color: transparent !important;
    border: solid 1px #469F9F;
    color: #469F9F;
    opacity: 0.9;
}

.btn-white {
    background-color: white !important;
    color: #272D37;
    border: solid 1px #e1e1e1;
    min-width: 121px;
    height: 46px;
}

.btn-white:hover {
    background-color: white !important;
    color: #272D37;
    border: solid 1px #e1e1e1;
    opacity: 0.9;
}

img.gif {
    border-radius: 50%;
    width: 275px;
    height: 275px;
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
}

.footer-logo {
    border: solid 10px white; 
    border-radius: 50%;
}

.search-bar {
    height: 61px; 
}

.search-bar-input, #basic-addon1, #basic-addon2 {
    background-color: #f6f6f6 !important;
    border: solid 1px #f6f6f6;
}

.search-bar-input, #basic-addon1 {
    border-radius: 5px !important;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.child {
    flex: 1 1 31%;
    margin: 1px;
    width: auto;
    height: auto;
}

.inner-img {
    transition: 0.9s;
}
  
.inner-img:hover {
    transition: 0.9s;
    transform: scale(1.1);
    cursor: pointer;
    color: #469F9F; 
    text-decoration: underline;
}

.homepage-link {
    color: black;
    text-decoration: none;
}

.homepage-link:hover {
    transition: 0.9s;
    color: #469F9F !important;
}

.contact-form {
    width: 653px;
    height: 851px;
    min-width: auto;
}

.contact-us-icons {
    position: absolute; 
    top: 50;
    left: 50px;
}

.contact-us-icon {
    text-decoration: none;
    color: #6BA3A3 !important;
    font-size: 50px;
}

.contact-us-icon:hover {
    text-decoration: none;
    color: #6BA3A3 !important;
}

.input-outline {
    border: solid 1px #469F9F !important;
}

