@font-face {
    font-family: inter-font;
    src: url("/font/Inter-Regular.ttf");
}

* {
    font-family: inter-font;
}

body {
    min-height: 100vh;
}

section {
    min-height: 100vh;
}

.auto {
    margin: auto;
}

.bg-image {
    background-image: url("../images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: black !important;
    opacity: 66%;
    width: 100%;
}

.top-nav {
    background-color: #717C73 !important;
    height: 120px;
}

.search-bar {
    max-width: 648px;
    min-width: auto;
    height: 61px; 
}

.search-bar-input, #basic-addon1, #basic-addon2 {
    background-color: #E1DFD9 !important;
}

.search-bar-input, #basic-addon1 {
    border-radius: 5px !important;
}

.btn-white, .btn-white:hover, .btn-white:focus{
    background-color: #E1DFD9;
    border: none;
}

.btn-outline {
    background-color: #717C73 !important;
    max-width: 100px;
    min-width: auto;
    color: white;
}

.btn-outline:hover {
    background-color: #717C73 !important;
    max-width: 100px;
    min-width: auto;
    color: white;
    opacity: 0.9;
}

.bottom-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
}

#section-2 {
    background-color: #717C73;
}

.search-bar-2 {
    max-width: 900px;
    min-width: auto;
    height: 80px;
}



.search-bar-2 , .search-bar-input-2, #basic-addon3{
    background-color: #000000 !important;
    opacity: 77%;
    border-color: #000000;
    border-radius: 20px; 
}

.search-bar-input-2::placeholder {
    color: white !important;
}

.btn-black, .btn-black:hover, .btn-black:focus {
    background-color: black;
    border: none;
    color: white;
}

#section-3 {
    background-color: #2D2C2C;
}


.bg-image-2 {
    background-image: url("../images/hero-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-form {
    background-color: #717C73;
    width: 653px;
    height: 851px;
    min-width: auto;
}

.nav-link {
    margin: 0px 20px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
} 

.links {
    text-decoration: none;
    color: white !important;
}

.links:hover {
    color: #6BA3A3 !important;
    transition: 0.3s ease;
}

#cart:hover {
    color: #6BA3A3 !important;
    transition: 0.3s ease; 
}

.navbar-toggler {
    border :none;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: transparent;
}

.pull-right {
    float: right;
}

.img-wrapper {  
    width: auto;
    height: auto;
    overflow: hidden; 
}
  
.inner-img {
    transition: 0.9s;
}
  
.inner-img:hover {
    transform: scale(1.1);
}

.contact-us-input, .contact-us-input::placeholder, .contact-us-input:focus {
    height: 70px; 
    background-color: #2D2C2C; 
    color: white !important;
    border: solid 1px #2D2C2C;
}

.contact-us-textarea, .contact-us-textarea::placeholder, .contact-us-textarea:focus {
    background-color: #2D2C2C; 
    color: white !important;
    border: solid 1px #2D2C2C;
    text-align:left !important;
}

.letter-space {
    letter-spacing: 10px;
}

.contact-us-icons {
    position: absolute; 
    top: 50;
    left: 50px;
}

.contact-us-icon {
    text-decoration: none;
    color: white !important;
    font-size: 50px;
}

.contact-us-icon:hover {
    text-decoration: none;
    color: #6BA3A3 !important;
}

.text-justify {
    text-align: justify;
}

@media only screen and (min-width: 991px) {
    #web-nav {
        display: block;
    }

    #mobile-nav {
        display: none;
    }

    #mobile-nav-2 {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    #web-nav {
        display: none !important;
    }

    #mobile-nav {
        display: block;
        background-color: transparent !important;
    }

    #mobile-nav-2 {
        display: block;
        background-color: #717C73 !important;
    }

}
